# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Helious\Documents\ITTalents\ITTalents\ITTalentsRepo\month3\week3\homeworkCountCommas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
